a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Design Colours & Fonts */

/* Light sage: #C3DAB7 
White: #fff
White Two: #F6F6F6
Black: #333;
 */

/* font-family: 'Montserrat', sans-serif regular=400 bold=700;
font-family: 'Open Sans', sans-serif; regular=400*/

html {
    font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

.wrapper {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

/* Start of the general font styling */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.3px;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.index h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
}

.blog h2,
.contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
}


/* This is the start of the Nav on all pages */
.primaryNav {
    display: flex;
    height: 50px;
}

.logo {
    text-align: center;
    flex: 1 0 50%;
    margin: auto;
}

.leftNav,
.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 25%;
}

.topMenu {
    visibility: hidden;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 4rem;

}

/* This is the start of the header */

header {
    height: 750px;
    background-image: url(./assets/home1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* This is the start of the branding Section */

.brandingSection {
    background-color: #C3DAB7;
}

.brandingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandingPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    position: relative;
}

/* need the parent of the circle text to be the img */
.imageContainer img {
    width: 400px;
    padding: 150px 0 50px 0;
}

div .circleText {
    background: rgba(0, 0, 0, 0);
    width: 200px;
    position: absolute;
    top: -85px;
    left: -85px;
}

.brandingParagraphs {
    display: flex;
    text-align: center;
    width: 60%;
    padding: 0 0 100px 0;
}

.brandingText,
.designText {
    flex: 1 1 100px;
}

/* Start of the Testimonials Section */

.testimonials {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
}

.testimonials a {
    font-size: 3rem;
}

.previous,
.next {
    align-self: center;
}

.slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.slides img {
    border-radius: 50%;
    align-self: center;
    max-width: 225px;
    margin: 0 0 50px 0;
}

.slides p {
    text-align: center;
    font-style: italic;
    align-self: center;
    color: #8f8f8f;
    width: 85%;
}

/* Start of the icon section */
.iconSection {
    background-image: url(./assets/home4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
}

.iconSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sectionContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.iconContainer {
    width: 50%;
    display: flex;
}

.iconStyles {
    padding: 0 30px;
}

.iconStyles i {
    font-size: 2.5rem;
    border-radius: 50%;
    border: 2.5px solid #333;
    width: 60px;
    height: 60px;
    padding: 18px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

/* Start of the Team photo grid */

.gridSection h4 {
    text-align: center;
    padding: 100px 0;
}

.gridContainer {
    display: flex;
} 

.topText {
    height: 200px;
}

.gridContainer img {
    width: 200px;
    height: 200px;
}

.firstColumn {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
}

.secondColumn {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
}