.blog header {
    background-image: url(../assets/blog1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;

}

.blogHeader {
    padding-top: 100px;
    h1 {
        padding-bottom: 20px;
        line-height: 40px;
    }
        p {
            padding-bottom: 75px;
        }
}

.blogInfo {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $black;
    border-color: lighten($black, 50%);
}

.firstItem {
    display: flex;
    flex: 2 1 30%;
}

.secondaryItems {
    display: flex;
    justify-content: space-between;
    flex: 1 1 50%;
}

.blogInfo img {
    width: 75px;
    border-radius: 50%;
    margin-right: 30px;
}

.blogHeader span,
.blogInfo p,
.blogInfo time {
    color: lighten($black, 40%);
}

// Start of the article 

.articleSection {
    padding: 75px 0;
        p {
            padding-bottom: 30px;
        }
            .intro p {
                font-weight: bold;
                color: darken($black, 50%);
            }
                p:not(.intro p) {
                    color: lighten($black, 40%);
                }
}

.socialList {
    display: flex;
    justify-content: space-between;
    width: 15%;
        li {
            flex: 1 1 20px;
            a {
                padding-left: 10px;
            }
        }
    }


// Start of the blog posts section

.blogSection {
    h3 {
        padding-bottom: 30px;
        border-bottom: 1px solid $black;
        border-color: lighten($black, 50%);
    }
}

.blogPosts {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
        img {
            padding-bottom: 20px;
            max-width: 375px;
        }
}

// Start of the comments section

.commentSection {
    h3  {
        padding-bottom: 30px;
        border-bottom: 1px solid $black;
        border-color: lighten($black, 50%);
    }
}

.commentContainer {
    display: flex;
}

.commentBox {
    width: 100%;
}

.commentContainer img {
    width: 60px;
    height: 60px;
    margin: 40px 30px 0 0;
}

.commentBox .commentBody {
    position: relative;
    width: 100%;
    height: auto;
    margin: 40px 10px 0 0;
    padding: 5px;
    background-color: $secondary;
    border: 5px solid $secondary;
}

.commentBody .message {
    min-height: 30px;
    line-height: 1.5;
    color: $black;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message h4,
span,
p,
time {
    margin-bottom: 10px;
}

.message span {
    text-transform: none;
    color: $main;
    color: darken($main, 40%);
}

.message p {
    color: lighten($black, 20%);
}

.message time {
    color: lighten($black, 40%);
}

.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid $secondary;  
}

.tipLeft {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
}

// Start of the comment form

.commentForm {
    padding: 150px 0 250px 0;
        h3 {
            padding-bottom: 30px;
            border-bottom: 1px solid $black;
            border-color: lighten($black, 50%);
        }
}

form input {
    border: none;
    border-bottom: 1px solid $black;
    border-color: lighten($black, 50%);
}

.firstRow {
    display: flex;
    justify-content: space-between;
        input {
            width: calc(100%/3 - 20px);
            padding: 40px 0 10px 0;
        }
}

.secondRow input[id="comment"] {
    display: block;
    width: 100%;
    padding: 30px 0 200px 0;
    border-bottom: 1px solid $black;
    border-color: lighten($black, 50%);
}

.secondRow button {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $black;
    margin-top: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.6rem;

}

// Start of blog page media queries
@media (max-width: 1335px) {
    .blogPosts {
        img {
            max-width: 300px;
        }
    }
}

@media (max-width: 1080px) {
    .blog header {
        height: 500px;
    }

    .blogPosts {
        flex-direction: column;
        align-items: center;
            img {
                padding-bottom: 10px;
                time {
                    display: block;
                    margin-bottom: 20px;
                }
            }
    }

// Centering heading text 
    .blogHeader {
        padding-top: 50px;
        h1 {
            text-align: center;
            p {
                padding-bottom: 50px;
                text-align: center;
            }
        }
    }

// Stacking the admin photo & blog details
    .firstItem {
        flex: 1 1 100%;
    }

// Reducing padding on blog content
    .articleSection {
        padding: 25px 0;
        p { 
            padding-bottom: 10px
        }
    }

// Stacking form fields

    .commentForm {
        padding: 50px 0 50px 0;
    }

    .firstRow {
        flex-direction: column;
        align-items: flex-start;
            input {
                width: 90%;
            }
    }
}

@media (max-width: 650px) {
    .blog h2 {
        font-size: 2.5rem;
    }

    .blog header {
        height: 260px;
    }

    .blogHeader {
        h1 {
            text-align: left;
        }
    }

    .blogHeader p {
        padding-bottom: 20px;
    }

    .firstItem {
        padding-bottom: 20px;
    }

    .secondaryItems {
        li {
            padding-right: 25px;
        }
    }

    .commentContainer {
        flex-direction: column;
            img {
                width: 80px;
                height: 80px;
                margin: 20px 0 0 0;
            }
    }

    .commentBox .commentBody {
        margin: 20px 0 0 0;
    }

    .firstRow {
        input {
            width: 100%;
        }
    }

    .secondRow button {
    margin-top: 10px;
    width: 100%;

}
}


@media (max-width: 415px) {
    .blog .wrapper {
        width: 85%;
    }

    .blog header {
        height: 200px;
    }

    .secondaryItems 
        li {
            padding: 5px;
        }

        p, 
        time {
            font-size: 1.4rem;
        }

    .blog h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .blog h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    .blogPosts {
        padding: 20px 0;

        img {
            max-width: 200px;
        }
    }

    .commentForm h3 {
        line-height: 30px;
    }

    .footerContainer {
        padding: 0 25px;
    }
}

