// Start of the Contact header
.contact header {
    background-color: $white;
    background-image: none;
    margin: 40px 0 0 0;
    height: 100px;
}

// Start of the Contact Section

.topHeader {
    background-image: url(../assets/contact1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

    h1 {
        padding: 75px 0 50px 0;
        width: 20%;
        position: relative;
    }
        span{
            position: absolute;
            bottom: -20px;
        }
}

.topHeader h1::before {
    content: '';
    display: block;
    border-top: 4px solid $black;
    width: 15%;
    padding-top: 50px;

}

// Start of Contact Details Section

.secondContactSection {
    h3 {
        padding: 150px 0 30px 0;
    }
        p {
            width: 50%;
            color: lighten($black, 40%);
        }
}

// Start of Icon Contact Section
.iconList {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 100px 0 50px 0;
        i {
            font-size: 3rem;
            padding-bottom: 20px;
        }
            .address {
                border-left: 1px solid $black;
                border-right: 1px solid $black;
                border-color: lighten($black, 50%);
                padding: 0 50px;
            }
}

.iconList p {
    color: lighten($black, 40%);
}

.address address {
    color: lighten($black, 40%);
}

// Start of Contact Form - same as on blog

.contactForm {
    padding: 50px 0 250px 0;
        h3 {
            padding-bottom: 30px;
        }
            p {
                padding-bottom: 100px;
                color: lighten($black, 40%);
            }
}

.firstRow input[type="email"]::placeholder {
    color: $black;
    opacity: 1;
}

.firstRow input[type="email"] {
    border-bottom: 1px solid $black;
}

.secondRow button[type="submit"] {
    background-color: $white;
    border: none;
    border-bottom: 1px solid $black;
    padding-bottom: 15px;
}

// Image Section 

.contentContainer {
    background-image: url(../assets/contact2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    display: block;

}

// Start of Contact page media queries

@media (max-width: 1080px) {
    .topHeader {
        height: 100px;
    }
}

@media (max-width: 950px) {
    .contact h1 {
        font-size: 3.5rem;
    }

    .topHeader {
        h1 {
            padding: 0 0 50px 0; 
        }
            span {
                bottom: 0;
            }
    }

    .topHeader h1::before {
    padding-top: 50px;
    }

// Reducing padding on Contact section
    .secondContactSection {
        h3 {
            padding: 75px 0 10px 0;
        }
    }
// Stacking Icon Section 
    .iconList {
        width: 100%;
        flex-direction: column;
        padding: 50px 0 0 0;
            i {
                padding-bottom: 20px;
            }
            .address {
                border: none;
                padding: 0 0 20px 0;
            }
    }

    .address address {
        width: 50%;
    }

    .contentContainer {
        height: 400px;
    }
}

@media (max-width: 650px) {
// Reducing hamburger and logo sizing
    .contact h2 {
        font-size: 2.5rem;
    }

    .contact header {
        height: 50px;
        margin: auto 0;
    }

    .topMenu {
        font-size: 2rem;
        top: 15px;
    }

// Reducing padding on Contact form 
    .contactForm {
        padding: 50px 0 50px 0;
            p {
                padding-bottom: 0;
            }
    }

    .contentContainer {
        height: 300px;
    }
}

@media (max-width: 450px) {
    .topMenu {
        top: 10px;
        left: 10px;
    }

    .secondContactSection {
        text-align: center;
            p {
                width: 100%;
        }
    }
}