footer {
    background-color: $black;
    color: $secondary;
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    padding: 150px 0;
        h3 {
            padding: 0 0 50px 0;
        }
            address {
                line-height: 30px;
            }
}

.primarySocialList {
    display: flex;
        li {
        padding: 30px 20px 0 0;
        }
}

.recentPosts {
    line-height: 40px;
        li {
            list-style: disc;
        }
        
}

form {
    legend {
        padding: 0 0 30px 0;
    }
        button {
            background: $main;
        }
}

.copyright h3  {
    text-align: center;
    padding: 100px 0;
    border-top: 1px solid $black;
    border-color: lighten($black, 40);
}