footer {
    background-color: $black;
    color: $secondary;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 150px 0;
        h5 {
            padding: 0 0 50px 0;
        }
            address {
                line-height: 30px;
            }
}

.primarySocialList {
    display: flex;
        li {
        padding: 30px 20px 0 0;
        }
}

.secondFooterColumn {
    line-height: 40px;
        h5 {
            text-align: center;
        }
            li {
                list-style: disc;
            }
}

.thirdFooterColumn {
    display: flex;
    flex-direction: column;
        h5 {
            align-self: flex-end;
        }
}

legend {
    padding: 0 0 30px 0;
}

.submitContainer {
    display: flex;
    justify-content: flex-end;
        input[type="email"] {
            padding: 10px 0 10px 20px;
            width: 250px;       
        }
}

button[type="submit"] {
    background: $main;
    padding: 6.5px 10px;
    font-size: 2rem;
}

.copyright h5  {
    text-align: center;
    padding: 100px 0;
    border-top: 1px solid $black;
    border-color: lighten($black, 40);
}

@media (max-width: 1180px) {
    .footerContainer {
        padding: 75px 0;
        width: 90%;
            h5 {
                padding: 0 0 25px 0;
            }
    }

    .firstFooterColumn address {
        margin-right: 30px;
}

    .secondFooterColumn {
        line-height: 20px;
        margin-right: 10px;
    }

    .copyright h5 {
        padding: 50px 0;
    }
}

@media (max-width: 995px) {
    .footerContainer {
        padding: 0 50px;
            h5 {
                padding-top: 25px;
                text-align: center;
            }
    }

    .thirdFooterColumn {
        width: 100%;
        text-align: center;
            h5 {
                align-self: center;
            }
    }

    .submitContainer {
        justify-content: center;
        padding-bottom: 25px;
            input[type="email"] {
                width: 100%;       
            }
        }
}

@media (max-width: 755px) {

    .footerContainer {
        width: 100%;
        justify-content: center;
    }

    .firstFooterColumn address {
    margin-right: 25px;
    }

    .primarySocialList {
        li {
        padding: 15px 20px 10px 0;
        }
    }

}

@media (max-width: 350px) {
    .copyright h5 {
        padding: 25px 0;
    }

    .firstFooterColumn {
        text-align: center;
            address {
                margin: 0;
            }
    }

    .primarySocialList {
        justify-content: center;
    }

    .secondFooterColumn {
        text-align: center;
            li {
                list-style: none;
            }
    }

    
}