html {
    font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

.wrapper {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

/* Start of the general font styling */

body {
    font-family: $secondaryFont;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.3px;
}

nav {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

button {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.7px;
}

// STYLES

.index h1 {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.blog h1 {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.contact h1 {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.index h2,
h5 {
    font-family: $mainFont;
    letter-spacing: 0.9px;
    line-height: 24px;
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.blog h2,
.contact h2 {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.index h3,
.contact h4,
.blog h4 {
    font-family: $mainFont;
    letter-spacing: 0.9px;
    line-height: 24px;
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;

}

.index h4,
.contact h3 {
    font-family: $mainFont;
    letter-spacing: 0.9px;
    line-height: 24px;
    font-size: 2.5rem;
    text-transform: uppercase;

}

.blog h3 {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

// Buttons & Link Styles

.portfolioLink {
    font-family: $main;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: $white;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 24px;
    padding: 15px 25px;

}
