html {
    font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

.wrapper {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

/* Start of the general font styling */
// Font family
body {
    font-family: $secondaryFont;  
}

nav,
button,
.index h1,
.blog h1,
.index h2,
.blog h2,
.contact h2
h5,
.index h3,
.blog h3,
.contact h4,
.blog h4,
.index h4,
.portfolioLink {
    font-family: $mainFont;
}

// Font sizes

body,  
button {
    font-size: 1.6rem;
}


.index h1 {
    font-size: 3.7rem;
}

.blog h1 {
    font-size: 4rem;
}

.contact h1 {
    font-size: 5rem;
}

.contact h3,
.index h3 {
    font-size: 2.5rem;
}

.blog h3 {
    font-size: 3rem;
}


.blog h2,
.contact h2 {
    font-size: 3.7rem;
}

nav,
.index h2,
h5,
.index h4,
.contact h4,
.blog h4 {
    font-size: 1.8rem;
}

// STYLES

nav,
h5,
.index h1,
.blog h1,
.contact h1,
.index h2,
.blog h2,
.contact h2,
.index h3,
.blog h3,
.contact h3,
.contact h4,
.blog h4,
.index h4,
.portfolioLink {
    text-transform: uppercase;
}

// Font weights

nav,
.index h2,
h5,
.index h3,
.contact h4,
.index h4
.blog {
    font-weight: 400;
}

button,
.index h1,
.blog h1,
.contact h1,
.blog h2,
.contact h2,
.blog h3,
.contact h3 {
    font-weight: 700;
}

// Line heights

body,  
button,
h5,
.index h2,
.index h3,
.contact h3
.index h4,
.contact h4,
.blog h4,
.portfolioLink {
    line-height: 24px;
}

// Letter spacing

body, 
nav {
    letter-spacing: 0.3px;
}

button,
.portfolioLink {
    letter-spacing: 0.7px;
}

.index h1,
.blog h1,
.contact h1,
.blog h2,
.contact h2,
.index h2,
h5,
.index h4,
.blog h3,
.contact h4,
.blog h4 {
    letter-spacing: 0.9px;
}

.index h3 {
    letter-spacing: 1.8px;
}

.contact h3 {
    letter-spacing: 1.5px;
}

// Buttons & Link Styles

.portfolioLink {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: $white;
    color: $black;
    padding: 15px 25px;
}
