.primaryNav {
    display: flex;
    height: 50px;
}

.logo {
    text-align: center;
    flex: 1 0 50%;
    margin: auto;
}

.leftNav,
.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 25%;
}

.topMenu {
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 40px;
    font-size: 4rem;

}

@media (max-width: 1180px) {
// Changing to hamburger menu 
.leftNav,
.rightNav {
    height: 0;
    overflow: hidden;
}

.topMenu {
    visibility: visible;
}

}