/* This is the start of the header */

header {
    height: 750px;
    background-image: url(../assets/home1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This is the start of the branding Section */

.verticalLine {
    position: relative;
}
.vertical {
    border-right: 1px solid $black; 
    height: 100px;
    position: absolute;
    bottom: -50px;
    right: 50%;
    border-color: lighten($black, 35%);
}

.brandingSection {
    background-color: $main;
}

.brandingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandingPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    position: relative;
}

.imageContainer img {
    max-width: 400px;
    padding: 150px 0 50px 0;
}

div .circleText {
    background: rgba(0, 0, 0, 0);
    max-width: 200px;
    position: absolute;
    top: -85px;
    left: -85px;
}

.brandingParagraphs {
    display: flex;
    text-align: center;
    width: 60%;
    padding: 0 0 100px 0;
        h2 {
            padding-bottom: 20px;
        }
}

.brandingText,
.designText {
    flex: 1 1 100px;
}

/* Start of the Testimonials Section */

.testimonials {
    background-color: $white;
    display: flex;
    justify-content: center;
    padding: 100px 0;
        a {
            font-size: 3rem;
        }
}

.previous,
.next {
    align-self: center;
}

.slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.slides img {
    border-radius: 50%;
    align-self: center;
    max-width: 225px;
    margin: 0 0 50px 0;
}

.slides p {
    text-align: center;
    font-style: italic;
    align-self: center;
    color: $black;
    color: lighten($black, 30%);
    width: 85%;
}

/* Start of the icon section */
.iconSection {
    background-image: url(../assets/home4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.iconWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 75px 150px 50px 0;
}

.sectionContainer {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.iconContainer {
    width: 50%;
    display: flex;
    h3 {
        padding-bottom: 20px;
    }
        p {
            color: lighten($black, 30%);
            padding-bottom: 30px;
        }
}

.iconStyles {
    padding: 0 30px;
}

.iconStyles i {
    font-size: 2.5rem;
    border: 2.5px solid $black;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 14px 0 0 0;
    border-radius: 50%;
}

/* Start of the Team photo grid */
.secondVerticalLine {
    position: relative;
}
.secondVertical {
    border-right: 1px solid $black; 
    height: 70px;
    position: absolute;
    bottom: -70px;
    right: 50%;
    border-color: lighten($black, 35%);
}

.gridSection h3 {
    text-align: center;
    padding: 150px 0 100px 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.one {
    grid-column-start: span 2;
    grid-row: 1;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px 40px 40px 40px;
        h4 {
            padding-bottom: 20px;
        }
            p {
                color: lighten($black, 30%);
            }
}

.two {
    grid-column: 1 / 2;
    grid-row : 2;
}

.three {
    grid-column: 2 / 3;
    grid-row: 2;
}

.four {
    grid-column: 3 / 4;
    grid-row: 1;
}

.five {
    grid-column: 4 / 4;
    grid-row: 1;
}

.six {
    grid-column: 3 / 4;
    grid-row: 2;
}

.seven {
    grid-column: 4 / 4;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 300px;
}

.seven h4 {
    width: 60%;
}

.gridContainer img {
    width: 350px;
}


// Start of Contact section 

aside {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    background-color: $main;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex: 1 1 50%;
        h4 {
            padding: 0 0 50px 0;
        }
            p {
                padding: 0 0 45px 0;
                color: lighten($black, 30%);
                width: 70%;
            }
}

.box1 a:hover {
    background-color: $main;
    background-color: darken($main, 60%);
    color: $white;
}

.box2 {
    background-image: url(../assets/home10.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    flex: 1 1 50%;
}

// Start of media queries
@media (max-width: 1350px) {
    .gridContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 125px;
    }
}
@media (max-width: 1180px) {
    header {
        height: 600px;
    }

// Stacking text in branding section
    .brandingParagraphs {
        flex-direction: column;
        width: 50%;
        padding: 0 0 50px 0;
            .brandingText {
                padding-bottom: 30px;
            }
    }

    .slides {
        width: 100%;
    }

    .iconWrapper {
        padding: 25px 25px 0 0;
    }

    .sectionContainer {
        width: 90%
    }
    
    aside {
        display: block;
        }
            .box1,
            .box2 {
                height: 500px;
            }
}

@media (max-width: 1095px) {
    .gridContainer {
        flex-direction: column;
        align-items: center;
        margin: 0;
            img {
                width: 200px;
            }
                .seven {
                    width: 100%;
                }
    }
}

@media (max-width: 950px) {
    .index h2 {
        font-size: 1.6rem;
    }

    .sectionContainer {
        width: 100%
    }

    .vertical {
        height: 50px;
        bottom: -25px;
    }

    .imageContainer img {
        width: 300px;
        padding: 60px 0 25px 0;
    }

    div .circleText {
        width: 100px;
        left: -40px;
        top: -40px;
    }

    .brandingParagraphs {
        width: 90%;
        padding: 0 0 25px 0;
    }

}

@media (max-width: 850px) {
    header {
        height: 400px;
    }   

    .testimonials {
        padding: 25px 0;
        a {
            font-size: 2rem;
        }
    }
// Changing icons to be one column

    .iconWrapper {
        padding: 10px;
    }

    .sectionContainer {
        flex-direction: column;
        align-items: center;
        padding: 20px 0 0 0;
        max-width: 100%;
    }

    
    .iconContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
            h4 {
                font-size: 1.6rem;
            }
                p {
                    padding-bottom: 0;
                }
    }

    .iconStyles {
        padding: 10px 0;
    }
}

@media (max-width: 450px) {
// Reducing hamburger and logo sizing
    .index h1 {
        font-size: 2.5rem;
    }

    .topMenu {
        font-size: 2rem;
        top: 15px;
    }

    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .previous {
        padding-bottom: 15px;
        order: 4;
    }

    .slides {
        img {
            width: 150px;
        }
    }

    .iconContainer {
        width: 100%;
    }

    .iconStyles i {
    font-size: 1.5rem;
    border: 1.5px solid $black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0 0 0;
    border-radius: 50%;
}

    .gridSection h3 {
        padding: 75px 0 25px 0; 
    }

    .one {
        padding: 20px 10px 10px 20px;
    }

}

@media (max-width: 350px) {

    .imageContainer img {
        width: 200px;
    }

    div .circleText {
        width: 50px;
        left: -15px;
        top: -18px;
    }

    .box1,
    .box2 {
        max-height: 400px;
    }
}