/* This is the start of the header */

header {
    height: 750px;
    background-image: url(../assets/home1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This is the start of the branding Section */

.verticalLine {
    position: relative;
}
.vertical {
    border-right: 1px solid $black; 
    height: 100px;
    position: absolute;
    bottom: -50px;
    right: 50%;
    border-color: lighten($black, 35%);
}

.brandingSection {
    background-color: $main;
}

.brandingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandingPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    position: relative;
}

.imageContainer img {
    width: 400px;
    padding: 150px 0 50px 0;
}

div .circleText {
    background: rgba(0, 0, 0, 0);
    width: 200px;
    position: absolute;
    top: -85px;
    left: -85px;
}

.brandingParagraphs {
    display: flex;
    text-align: center;
    width: 60%;
    padding: 0 0 100px 0;
        h2 {
            padding-bottom: 20px;
        }
}

.brandingText,
.designText {
    flex: 1 1 100px;
}

/* Start of the Testimonials Section */

.testimonials {
    background-color: $white;
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
        a {
            font-size: 3rem;
        }
}

.previous,
.next {
    align-self: center;
}

.slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.slides img {
    border-radius: 50%;
    align-self: center;
    max-width: 225px;
    margin: 0 0 50px 0;
}

.slides p {
    text-align: center;
    font-style: italic;
    align-self: center;
    color: $black;
    color: lighten($black, 30%);
    width: 85%;
}

/* Start of the icon section */
.iconSection {
    background-image: url(../assets/home4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 75px 150px 50px 0;
}

.sectionContainer {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.iconContainer {
    width: 50%;
    display: flex;
    h3 {
        padding-bottom: 20px;
    }
        p {
            color: lighten($black, 30%);
            padding-bottom: 30px;
        }
}

.iconStyles {
    padding: 0 30px;
}

.iconStyles i {
    font-size: 2.5rem;
    border: 2.5px solid $black;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 14px 0 0 0;
    border-radius: 50%;
}

/* Start of the Team photo grid */
.secondVerticalLine {
    position: relative;
}
.secondVertical {
    border-right: 1px solid $black; 
    height: 70px;
    position: absolute;
    bottom: -70px;
    right: 50%;
    border-color: lighten($black, 35%);
}

.gridSection h4 {
    text-align: center;
    padding: 150px 0 100px 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.one {
    grid-column-start: span 2;
    grid-row: 1;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px 40px 40px 40px;
        h3 {
            padding-bottom: 20px;
        }
}

.two {
    grid-column: 1 / 2;
    grid-row : 2;
}

.three {
    grid-column: 2 / 3;
    grid-row: 2;
}

.four {
    grid-column: 3 / 4;
    grid-row: 1;
}

.five {
    grid-column: 4 / 4;
    grid-row: 1;
}

.six {
    grid-column: 3 / 4;
    grid-row: 2;
}

.seven {
    grid-column: 4 / 4;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 300px;
}

.seven h3 {
    width: 60%;
}

.gridContainer img {
    width: 350px;
}


// Start of Contact section 

aside {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    background-color: $main;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex: 1 1 50%;
        h4 {
            padding: 0 0 50px 0;
        }
            p {
                padding: 0 0 45px 0;
                color: lighten($black, 30%);
                width: 70%;
            }
}

.box2 {
    background-image: url(../assets/home10.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    flex: 1 1 50%;
}

// Start of media queries

@media (max-width: 1180px) {
    header {
        height: 600px;
    }

    .brandingParagraphs {
        flex-direction: column;
        width: 50%;
        padding: 0 0 50px 0;
            .brandingText {
                padding-bottom: 30px;
            }
    }

    .iconSection {
        padding: 25px 25px 0 0;
    }

    .sectionContainer {
        width: 90%
    }
// this needs work
    .gridContainer {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-auto-flow: row;
    }

    aside {
        display: block;
            .box1,
            .box2 {
                height: 500px;
            }
    }
}

@media (max-width: 950px) {
// Moving icons to bottom
    .testimonials {
        flex-direction: column;
        align-items: center;
            .previous {
                order: 4;
            }
    }

    .sectionContainer {
        width: 100%
    }
}

@media (max-width: 850px) {
// Changing icons to be one column
    
    .sectionContainer {
        flex-direction: column;
        align-items: center;
        padding: 50px 0 0 0;
    }
}

@media (max-width: 450px) {
// Reducing hamburger and logo sizing
    .index h1 {
        font-size: 2.5rem;
    }

    .topMenu {
        font-size: 2rem;
        top: 15px;
    }

    
}

@media (max-width: 350px) {
    header {
        height: 500px;
    }
}