a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Start of the general font styling */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.3px;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.index h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.7rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.blog h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.contact h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.index h2,
h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  line-height: 24px;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.blog h2,
.contact h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.7rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.index h3,
.contact h4,
.blog h4 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  line-height: 24px;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.index h4 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  font-weight: 400;
  line-height: 24px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.blog h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.contact h3 {
  font-family: #F6F6F6;
  letter-spacing: 1.5px;
  font-weight: 700;
  line-height: 24px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.portfolioLink {
  font-family: #C3DAB7;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 24px;
  padding: 15px 25px;
}

.primaryNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.logo {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: auto;
}

.leftNav,
.rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

.topMenu {
  visibility: hidden;
  position: absolute;
  top: 8px;
  left: 40px;
  font-size: 4rem;
}

@media (max-width: 1180px) {
  .leftNav,
  .rightNav {
    height: 0;
    overflow: hidden;
  }
  .topMenu {
    visibility: visible;
  }
}

/* This is the start of the header */
header {
  height: 750px;
  background-image: url(../assets/home1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* This is the start of the branding Section */
.verticalLine {
  position: relative;
}

.vertical {
  border-right: 1px solid #333;
  height: 100px;
  position: absolute;
  bottom: -50px;
  right: 50%;
  border-color: #8c8c8c;
}

.brandingSection {
  background-color: #C3DAB7;
}

.brandingContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandingPhotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  max-width: 400px;
  padding: 150px 0 50px 0;
}

div .circleText {
  background: rgba(0, 0, 0, 0);
  max-width: 200px;
  position: absolute;
  top: -85px;
  left: -85px;
}

.brandingParagraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 60%;
  padding: 0 0 100px 0;
}

.brandingParagraphs h2 {
  padding-bottom: 20px;
}

.brandingText,
.designText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}

/* Start of the Testimonials Section */
.testimonials {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.testimonials a {
  font-size: 3rem;
}

.previous,
.next {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

.slides img {
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 225px;
  margin: 0 0 50px 0;
}

.slides p {
  text-align: center;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #333;
  color: gray;
  width: 85%;
}

/* Start of the icon section */
.iconSection {
  background-image: url(../assets/home4.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 150px 50px 0;
}

.sectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

.iconContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconContainer h3 {
  padding-bottom: 20px;
}

.iconContainer p {
  color: gray;
  padding-bottom: 30px;
}

.iconStyles {
  padding: 0 30px;
}

.iconStyles i {
  font-size: 2.5rem;
  border: 2.5px solid #333;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 14px 0 0 0;
  border-radius: 50%;
}

/* Start of the Team photo grid */
.secondVerticalLine {
  position: relative;
}

.secondVertical {
  border-right: 1px solid #333;
  height: 70px;
  position: absolute;
  bottom: -70px;
  right: 50%;
  border-color: #8c8c8c;
}

.gridSection h4 {
  text-align: center;
  padding: 150px 0 100px 0;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  grid-gap: 30px;
  padding-bottom: 30px;
}

.one {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 100px 40px 40px 40px;
}

.one h3 {
  padding-bottom: 20px;
}

.two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.three {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.four {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.five {
  -ms-grid-column: 4;
  grid-column: 4 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.six {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.seven {
  -ms-grid-column: 4;
  grid-column: 4 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-height: 300px;
}

.seven h3 {
  width: 60%;
}

.gridContainer img {
  width: 350px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box1 {
  background-color: #C3DAB7;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.box1 h4 {
  padding: 0 0 50px 0;
}

.box1 p {
  padding: 0 0 45px 0;
  color: gray;
  width: 70%;
}

.box2 {
  background-image: url(../assets/home10.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media (max-width: 1180px) {
  header {
    height: 600px;
  }
  .brandingParagraphs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 0 0 50px 0;
  }
  .brandingParagraphs .brandingText {
    padding-bottom: 30px;
  }
  .slides {
    width: 100%;
  }
  .iconSection {
    padding: 25px 25px 0 0;
  }
  .sectionContainer {
    width: 90%;
  }
  .gridContainer {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(4, 1fr)/repeat(2, 1fr);
    grid-auto-flow: row;
  }
  aside {
    display: block;
  }
  aside .box1,
  aside .box2 {
    height: 500px;
  }
}

@media (max-width: 950px) {
  .index h2 {
    font-size: 1.6rem;
  }
  .sectionContainer {
    width: 100%;
  }
  .vertical {
    height: 50px;
    bottom: -25px;
  }
  .imageContainer img {
    width: 300px;
    padding: 60px 0 25px 0;
  }
  div .circleText {
    width: 100px;
    left: -40px;
    top: -40px;
  }
  .brandingParagraphs {
    width: 90%;
    padding: 0 0 25px 0;
  }
}

@media (max-width: 850px) {
  .testimonials {
    padding: 25px 0;
  }
  .testimonials a {
    font-size: 2rem;
  }
  .iconSection {
    padding: 0;
  }
  .sectionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0 0 0;
    max-width: 100%;
  }
  .iconContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .iconContainer h3 {
    font-size: 1.6rem;
  }
  .iconContainer p {
    padding-bottom: 0;
  }
  .iconStyles {
    padding: 10px 0;
  }
}

@media (max-width: 450px) {
  .index h1 {
    font-size: 2.5rem;
  }
  .topMenu {
    font-size: 2rem;
    top: 15px;
  }
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .previous {
    padding-bottom: 15px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .slides img {
    width: 150px;
  }
  .iconContainer {
    width: 100%;
  }
}

@media (max-width: 350px) {
  header {
    height: 500px;
  }
  .imageContainer img {
    width: 200px;
  }
  div .circleText {
    width: 50px;
    left: -15px;
    top: -18px;
  }
  .box1,
  .box2 {
    max-height: 400px;
  }
}

.blog header {
  background-image: url(../assets/blog1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.blogHeader {
  padding-top: 100px;
}

.blogHeader h1 {
  padding-bottom: 20px;
  line-height: 40px;
}

.blogHeader p {
  padding-bottom: 75px;
}

.blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #333;
  border-color: #b3b3b3;
}

.firstItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30%;
          flex: 2 1 30%;
}

.secondaryItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.blogInfo img {
  width: 75px;
  border-radius: 50%;
  margin-right: 30px;
}

.blogHeader span,
.blogInfo p,
.blogInfo time {
  color: #999999;
}

.articleSection {
  padding: 75px 0;
}

.articleSection p {
  padding-bottom: 30px;
}

.articleSection .intro p {
  font-weight: bold;
  color: black;
}

.articleSection p {
  color: #999999;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

.socialList li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20px;
          flex: 1 1 20px;
}

.socialList a {
  padding-left: 10px;
}

.blogSection h3 {
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
  border-color: #b3b3b3;
}

.blogPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPosts img {
  padding-bottom: 20px;
  max-width: 375px;
}

.commentSection h3 {
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
  border-color: #b3b3b3;
}

.commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentBox {
  width: 100%;
}

.commentContainer img {
  width: 60px;
  height: 60px;
  margin: 40px 30px 0 0;
}

.commentBox .commentBody {
  position: relative;
  width: 100%;
  height: auto;
  margin: 40px 10px 0 0;
  padding: 5px;
  background-color: #F6F6F6;
  border: 5px solid #F6F6F6;
}

.commentBody .message {
  min-height: 30px;
  line-height: 1.5;
  color: #333;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.message h4,
span,
p,
time {
  margin-bottom: 10px;
}

.message span {
  text-transform: none;
  color: #C3DAB7;
  color: #598243;
}

.message p {
  color: #666666;
}

.message time {
  color: #999999;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #F6F6F6;
}

.tipLeft {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.commentForm {
  padding: 150px 0 250px 0;
}

.commentForm h3 {
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
  border-color: #b3b3b3;
}

form input {
  border: none;
  border-bottom: 1px solid #333;
  border-color: #b3b3b3;
}

.firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstRow input {
  width: calc(100%/3 - 20px);
  padding: 40px 0 10px 0;
}

.secondRow input[id="comment"] {
  display: block;
  width: 100%;
  padding: 30px 0 200px 0;
  border-bottom: 1px solid #333;
  border-color: #b3b3b3;
}

.secondRow button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #333;
  margin-top: 50px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

@media (max-width: 1335px) {
  .blogPosts img {
    max-width: 300px;
  }
}

@media (max-width: 1080px) {
  .blog header {
    height: 500px;
  }
  .blogPosts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogPosts img {
    padding-bottom: 10px;
  }
  .blogPosts time {
    display: block;
    margin-bottom: 20px;
  }
  .blogHeader {
    padding-top: 50px;
  }
  .blogHeader h1 {
    text-align: center;
  }
  .blogHeader p {
    padding-bottom: 50px;
    text-align: center;
  }
  .firstItem {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .articleSection {
    padding: 25px 0;
  }
  .articleSection p {
    padding-bottom: 10px;
  }
  .commentForm {
    padding: 50px 0 50px 0;
  }
  .firstRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .firstRow input {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .blog h2 {
    font-size: 2.5rem;
  }
  .blog header {
    height: 260px;
  }
  .blogHeader h1 {
    text-align: left;
  }
  .blogHeader p {
    text-align: left;
  }
  .secondaryItems li {
    padding-right: 25px;
  }
  .commentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commentContainer img {
    width: 80px;
    height: 80px;
    margin: 20px 0 0 0;
  }
  .commentBox .commentBody {
    margin: 20px 0 0 0;
  }
  .firstRow input {
    width: 100%;
  }
  .secondRow button {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 415px) {
  .blog header {
    height: 200px;
  }
  .blog h1 {
    font-size: 3rem;
  }
  .blogPosts {
    padding: 20px 0;
  }
}

.contact header {
  background-color: #fff;
  background-image: none;
  margin: 40px 0 0 0;
  height: 100px;
}

.topHeader {
  background-image: url(../assets/contact1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.topHeader h1 {
  padding: 75px 0 50px 0;
  width: 20%;
  position: relative;
}

.topHeader span {
  position: absolute;
  bottom: -20px;
}

.topHeader h1::before {
  content: '';
  display: block;
  border-top: 4px solid #333;
  width: 15%;
  padding-top: 50px;
}

.secondContactSection h3 {
  padding: 150px 0 30px 0;
}

.secondContactSection p {
  width: 50%;
  color: #999999;
}

.iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  padding: 100px 0 50px 0;
}

.iconList i {
  font-size: 3rem;
  padding-bottom: 20px;
}

.iconList .address {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-color: #b3b3b3;
  padding: 0 50px;
}

.iconList p {
  color: #999999;
}

.address address {
  color: #999999;
}

.contactForm {
  padding: 50px 0 250px 0;
}

.contactForm h3 {
  padding-bottom: 30px;
}

.contactForm p {
  padding-bottom: 100px;
  color: #999999;
}

.firstRow input[type="email"]::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}

.firstRow input[type="email"]:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

.firstRow input[type="email"]::-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

.firstRow input[type="email"]::placeholder {
  color: #333;
  opacity: 1;
}

.firstRow input[type="email"] {
  border-bottom: 1px solid #333;
}

.secondRow button[type="submit"] {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
}

.contentContainer {
  background-image: url(../assets/contact2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  display: block;
}

@media (max-width: 1080px) {
  .topHeader {
    height: 100px;
  }
}

@media (max-width: 950px) {
  .contact h1 {
    font-size: 3.5rem;
  }
  .topHeader h1 {
    padding: 0 0 50px 0;
  }
  .topHeader span {
    bottom: 0;
  }
  .topHeader h1::before {
    padding-top: 50px;
  }
  .secondContactSection h3 {
    padding: 75px 0 10px 0;
  }
  .iconList {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 0 0;
  }
  .iconList i {
    padding-bottom: 20px;
  }
  .iconList .address {
    border: none;
    padding: 0 0 20px 0;
  }
  .address address {
    width: 50%;
  }
  .contentContainer {
    height: 400px;
  }
}

@media (max-width: 650px) {
  .contact h2 {
    font-size: 2.5rem;
  }
  .contact header {
    height: 50px;
    margin: auto 0;
  }
  .topMenu {
    font-size: 2rem;
    top: 15px;
  }
  .contactForm {
    padding: 50px 0 50px 0;
  }
  .contactForm p {
    padding-bottom: 0;
  }
  .contentContainer {
    height: 300px;
  }
}

@media (max-width: 450px) {
  .topMenu {
    top: 10px;
    left: 10px;
  }
  .secondContactSection {
    text-align: center;
  }
  .secondContactSection p {
    width: 100%;
  }
}

footer {
  background-color: #333;
  color: #F6F6F6;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px 0;
}

.footerContainer h5 {
  padding: 0 0 50px 0;
}

.footerContainer address {
  line-height: 30px;
}

.primarySocialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primarySocialList li {
  padding: 30px 20px 0 0;
}

.secondFooterColumn {
  line-height: 40px;
}

.secondFooterColumn h5 {
  text-align: center;
}

.secondFooterColumn li {
  list-style: disc;
}

.thirdFooterColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thirdFooterColumn h5 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

legend {
  padding: 0 0 30px 0;
}

.submitContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.submitContainer input[type="email"] {
  padding: 10px 0 10px 20px;
  width: 250px;
}

button[type="submit"] {
  background: #C3DAB7;
  padding: 6.5px 10px;
  font-size: 2rem;
}

.copyright h5 {
  text-align: center;
  padding: 100px 0;
  border-top: 1px solid #333;
  border-color: #999999;
}

@media (max-width: 1180px) {
  .footerContainer {
    padding: 75px 0;
    width: 90%;
  }
  .footerContainer h5 {
    padding: 0 0 25px 0;
  }
  .firstFooterColumn address {
    margin-right: 30px;
  }
  .secondFooterColumn {
    line-height: 20px;
    margin-right: 10px;
  }
  .copyright h5 {
    padding: 50px 0;
  }
}

@media (max-width: 995px) {
  .footerContainer {
    padding: 0 50px;
  }
  .footerContainer h5 {
    padding-top: 25px;
    text-align: center;
  }
  .thirdFooterColumn {
    width: 100%;
    text-align: center;
  }
  .thirdFooterColumn h5 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .submitContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 25px;
  }
  .submitContainer input[type="email"] {
    width: 100%;
  }
}

@media (max-width: 755px) {
  .footerContainer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstFooterColumn address {
    margin-right: 25px;
  }
  .primarySocialList li {
    padding: 15px 20px 10px 0;
  }
}

@media (max-width: 350px) {
  .copyright h5 {
    padding: 25px 0;
  }
  .firstFooterColumn {
    text-align: center;
  }
  .firstFooterColumn address {
    margin: 0;
  }
  .primarySocialList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secondFooterColumn {
    text-align: center;
  }
  .secondFooterColumn li {
    list-style: none;
  }
}
