a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Start of the general font styling */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.3px;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.index h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.7rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.index h3,
.contact h4,
.blog h4 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  line-height: 24px;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.index h4,
.contact h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.9px;
  line-height: 24px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.blog h1,
.contact h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.blog h2,
.contact h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.7rem;
}

.blog h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.portfolioLink {
  font-family: #C3DAB7;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 24px;
  padding: 15px 25px;
}

/* This is the start of the header */
header {
  height: 750px;
  background-image: url(../assets/home1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* This is the start of the branding Section */
.brandingSection {
  background-color: #C3DAB7;
}

.brandingContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandingPhotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageContainer {
  position: relative;
}

/* need the parent of the circle text to be the img */
.imageContainer img {
  width: 400px;
  padding: 150px 0 50px 0;
}

div .circleText {
  background: rgba(0, 0, 0, 0);
  width: 200px;
  position: absolute;
  top: -85px;
  left: -85px;
}

.brandingParagraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 60%;
  padding: 0 0 100px 0;
}

.brandingText,
.designText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}

/* Start of the Testimonials Section */
.testimonials {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0 100px 0;
}

.testimonials a {
  font-size: 3rem;
}

.previous,
.next {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

.slides img {
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 225px;
  margin: 0 0 50px 0;
}

.slides p {
  text-align: center;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #333;
  color: gray;
  width: 85%;
}

/* Start of the icon section */
.iconSection {
  background-image: url(../assets/home4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
}

.iconSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.iconContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconStyles {
  padding: 0 30px;
}

.iconStyles i {
  font-size: 2.5rem;
  border: 2.5px solid #333;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 14px 0 0 0;
  border-radius: 50%;
}

/* Start of the Team photo grid */
.gridSection h4 {
  text-align: center;
  padding: 150px 0 100px 0;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-bottom: 30px;
}

.one {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 100px 40px 40px 40px;
}

.two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.three {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.four {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.five {
  -ms-grid-column: 4;
  grid-column: 4 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.six {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.seven {
  -ms-grid-column: 4;
  grid-column: 4 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.seven h3 {
  width: 60%;
}

.gridContainer img {
  width: 350px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box1 {
  background-color: #C3DAB7;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.box1 h4 {
  padding: 0 0 50px 0;
}

.box1 p {
  padding: 0 0 45px 0;
  color: gray;
  width: 70%;
}

.box2 {
  background-image: url(../assets/home10.jpeg);
  background-repeat: no-repeat;
  height: 700px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.primaryNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.logo {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: auto;
}

.leftNav,
.rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

.topMenu {
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 4rem;
}

.blog header {
  background-image: url(../assets/blog1.jpeg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 750px;
}

.blogHeader {
  padding-top: 100px;
}

.blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #333;
  border-color: #b3b3b3;
}

.blogInfo img {
  width: 100px;
  border-radius: 50%;
}

.blogPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact header {
  background-image: url(../assets/contact1.jpeg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 150px;
}

footer {
  background-color: #333;
  color: #F6F6F6;
}

.bottomFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0;
}

.bottomFooter h3 {
  padding: 0 0 50px 0;
}

.bottomFooter address {
  line-height: 30px;
}

.primarySocialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primarySocialList li {
  padding: 30px 20px 0 0;
}

.recentPosts {
  line-height: 40px;
}

.recentPosts li {
  list-style: disc;
}

form legend {
  padding: 0 0 30px 0;
}

form button {
  background: #C3DAB7;
}

.copyright h3 {
  text-align: center;
  padding: 100px 0;
  border-top: 1px solid #333;
  border-color: #999999;
}
